//===== VARIABLE GRID ======//
$maxwidth: 1200;
$md1: 1170;
$md2: 991.98;
$md3: 767.98;
$md4: 575.98;

//===== FONTS ======//
//$font-secondary: Arial, "Helvetica Neue", Helvetica, sans-serif;

//===== COLORS ======//
$color-primary: #ef5b4c;
$color-secondary: #1b4a8a;
$color-flat-button-hover: #d24335;

$color-background: #ffffff;
$color-background-2: #f9f9f3;

//===== ANIMATION ======//
$item-transition-hover: 0.3s;
