.loader {
  width: 18px;
  height: 18px;
}

.loader svg {
  animation: loader 2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
