/* <MIXINS>============================== */
@import "_mixins.scss";

/* <FONTS>===============================  */
@import "_fonts.scss";

/* <VARIABLES>===========================  */
@import "_variables.scss";

/* <NORMILIZE>===========================  */
@import "_normalize.scss";
@import "_nullstyle.scss";

/* <ADAPTIVE>============================  */
@import "_container.scss";

/* <GENERAL>=============================  */
@import "_general.scss";
@import "_scrollbar.scss";  

/* <ANIMATION>=========  */

/* @import "_aos.scss";  */

/* @import "_my-animate.scss";  */