.profileCover {
    display: flex;
    justify-content: center;

    height: 270px;
}

.profileCover__img {
    width: 100%;
    object-fit: cover;
}

.profileInfo {
    display: flex;

    width: 100%;
    padding: 20px;
}

.profileInfo__Avatar {
    width: 150px;
    margin-right: 30px;
}

.profileInfo__Text {}

.profileInfo__Name {
    font-size: 20px;
    margin-bottom: 30px;
}

.profileInfo__Parametr {
    margin-top: 15px;

    font-size: 16px;
}

.profileInfo__Status {
    width: 50%;
    margin-top: 20px;
}











// .profileCover {
//     display: flex;
//     justify-content: center;

//     height: 270px;
// }

// .profileCover__img {
//     width: 100%;
//     object-fit: cover;
// }

// .profileInfo {
//     display: flex;

//     width: 100%;
//     padding: 20px;
// }

// .profileInfo__Avatar {
//     width: 150px;
//     margin-right: 30px;
// }

// .profileInfo__Text {}

// .profileInfo__Name {
//     font-size: 20px;
//     margin-bottom: 50px;
// }

// .profileInfo__Parametr {
//     margin-top: 15px;

//     font-size: 16px;
// }