.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 80px;

    background-color: cornflowerblue;
}

.wrapper {
    padding-left: 40px;
}

.header__img {
    height: 80px;

    filter: invert(100%);
}