.navbar {
    position: fixed;

    top: 100px;
    bottom: 20px;

    width: 250px;

    background-color: cornflowerblue;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;

    box-shadow: 5px 5px 10px rgb(194, 194, 194);
}

.navbar ul {
    margin-top: 20px;
}

.navbar li {
    position: relative;
    height: 50px;
}

.navbar li::after {
    content: '';

    position: absolute;
    bottom: 0px;
    left: 28px;
    right: 35px;

    height: 1px;

    background-color: #e2e2e2;

    opacity: 0.5;
}

.navbar li::before {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 20px;
    width: 8px;
    height: 8px;
    background-color: #e2e2e2;
    border-radius: 50%;

    opacity: 0.5;
}

.navbar a {
    padding-left: 40px;

    display: block;
    line-height: 50px;

    color: #ffffff;
}

.navbar a:hover {
    color: rgb(255, 233, 107);
}

.navbar a.navbar__active{
    color:  rgb(255, 217, 0);
} 