.content {
    /* width: calc(100%-320px); */

    display: flex;
    flex-direction: column;

    margin-top: 80px;
    margin-left: 270px;

    min-height: calc(100vh - 120px);

    background-color: rgb(255, 255, 255);

    box-shadow: 5px 5px 10px rgb(194, 194, 194);
}