.dialogItem {
    margin-bottom: 40px;

    padding-left: 20px;
    position: relative;
}

.NavLink {
    font-size: 18px;

    color: rgb(97, 97, 97);
}

.dialogItem::before {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0px;
    width: 10px;
    height: 10px;
    background-color: cornflowerblue;
    border-radius: 50%;
}

.dialogItemActive {
    /* font-size: 22px; */
    color: black;
}

.dialogItem .dialogItemActive {
    .dialogItem::before {
        background-color: cornflowerblue;
    }
}